.idea
.vscode
__pycache__
test.py
img/test.bmp
venv
AccountRecord.txt
AccountRecord.log
accounts.txt
accounts_init.txt
bind_schedule.txt
diy.py
/screenshots/
/switches/
/users/
/rec/
log
/tasks/
/batches/
/schedules/
/groups/
/developutils/*.bmp
/error_screenshot/
outputs/
*.cmd
debug_imgs/
xls/
PCRError/
pcrdata/data.db
ocrfix/

# 测试用文件夹
/test/
/developutils/
/users_bak/

# 配置文件g
config.ini

# 自定义脚本
/customtask

# 隐私
idcard.json
