adbutils -i https://pypi.douban.com/simple
websocket_client==0.57.0 -i https://pypi.douban.com/simple
pandas -i https://pypi.douban.com/simple
openpyxl -i https://pypi.douban.com/simple
gevent==20.6.2 -i https://pypi.tuna.tsinghua.edu.cn/simple/
psutil==5.7.2 -i https://pypi.tuna.tsinghua.edu.cn/simple/
baidu-aip==2.2.18.0
matplotlib==3.1.3 -i https://pypi.tuna.tsinghua.edu.cn/simple/
opencv-python==4.3.0.36 -i https://pypi.tuna.tsinghua.edu.cn/simple/
uiautomator2 -i https://mirrors.aliyun.com/pypi/simple/
opencv-contrib-python==4.3.0.36 -i https://pypi.tuna.tsinghua.edu.cn/simple/
opencv-python-headless==4.3.0.36 -i https://pypi.tuna.tsinghua.edu.cn/simple/
keyboard==0.13.5 -i https://pypi.tuna.tsinghua.edu.cn/simple/
retrying -i https://pypi.douban.com/simple
id-validator

## For datacenter
pypinyin
rich
cvxpy
cvxopt
brotli

## web api server
flask==1.1.2 -i https://pypi.douban.com/simple
flask-marshmallow==0.13.0 -i https://pypi.douban.com/simple
flask-cors==3.0.8 -i https://pypi.douban.com/simple
flasgger==0.9.5 -i https://pypi.douban.com/simple


## localOCR1
# tensorflow == 2.4.0 -i https://pypi.douban.com/simple
# muggle_ocr -i https://pypi.tuna.tsinghua.edu.cn/simple
# numpy==1.19.2 -i https://pypi.tuna.tsinghua.edu.cn/simple/
# pillow -i https://pypi.douban.com/simple
# pyyaml -i https://pypi.douban.com/simple

## localOCR2 need git
# git+https://github.com/myhub/tr.git@master

## localOCR3
# ddddocr

## localOCR4
# easyocr

## python<3.8 protobuf==3.6.0
protobuf==3.14.0

